<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h1>Login</h1>
            <div class="form-group">
                <label for="" class="form-label">username</label>
                <input type="text" class="form-control" [(ngModel)]="username">
            </div>
            <div class="form-group">
                <label for="" class="form-label">password</label>
                <input type="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="form-group">
                <button class="btn btn-success" (click)="checkLogin()">Login</button>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <h1>{{status}}</h1>
    </div>
</div>